* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  color: aliceblue;
  width: 400px;
  overflow-y: overlay;
}
h1 {
  text-align: center;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  margin: 11px 0 24px;
}
.menu > p {
  padding-left: 20px;
}

.menu > button {
  justify-self: flex-end;
  padding: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
}


th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #1a1919;
}

th {
  background-color: #4c6baf;
  color: white;
}
